.Rproj.user
.Rhistory
.RData
.Ruserdata




/inputs/BMD_data/*
/inputs/cfrs_chirps_precipitation_datasets/*
/inputs/incident_report/*
/inputs/precipitation_data/*
/inputs/weather_dataset/*



/outputs/charts/*
/outputs/compile_dataset/*
/outputs/incident_report_gps_check/*

